body{
      background-image:url("https://website.taruns12.repl.co/static/banner.jpg");
      height:100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment:fixed;
      font-family: Helvetica, sans-serif;
    }
    .content{
      width: 100%;
      position: absolute;
      top: 20%;
      transform: translateY(50%);
      text-align: center;
      color: #fff;
    }
    .content p{
      margin: 20px auto;
      font-weight: 100;
      line-height: 25px;
    }
    .button{
      width: 100px;
      padding: 10px 0; 
      text-align: center;
      margin: 20px 10px;
      border: 2px solid #42944c;
      border-radius: 25px;
      font-weight: bold;
      background: transparent;
      color: #fff;
      cursor: pointer; 
      position: relative;
      overflow: hidden;
    }
    
  a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  p{
    font-size: 20px;
  } 
table {

  font-family: arial, sans-serif;

  border-collapse: collapse;

  width: 100%;

}
td, th {

  border: 1px solid #dddddd;

  text-align: center;

  padding: 8px;

}
tr:nth-child(even) {

  background-color: #dddddd;

}
  }