<!DOCTYPE html>
<html>
<head>
  <title>About Us - Inventory Management Service</title>
  <link rel="stylesheet" type="text/css" href="static/about_style.css">
  <link rel = "icon" type = "image/x-icon" href = "static/favicon.ico">
</head>
<body>
  <header>
    <a href = "{{url_for('home')}}"
      <h1>magnolia.</h1>
    </a>
  </header>
  
  <div class="main-section">
    <h2>About Us</h2>
    <p>Hello, welcome to our Inventory Management Service! We provide a comprehensive solution to help you manage your inventory effectively. Whether you're a small business or a large enterprise, our platform is designed to cater to your needs.</p>
    <p>Our mission is to simplify inventory management by providing intuitive tools and features that streamline the process. With our service, you can track stock levels, monitor sales, generate reports, and more.</p>
    <p>Sign up today and take advantage of our free plan. Let your voyage begin!</p>
    
    <div class="features-section">
      <div class="feature">
        <h3>Real-Time Inventory Tracking</h3>
        <p>Stay updated with accurate stock levels and avoid overstocking or shortages. Our service provides real-time inventory tracking to help you make informed decisions.</p>
      </div>
      <div class="feature">
        <h3>Reporting and Analytics</h3>
        <p>Gain insights into your inventory performance through detailed reports and analytics. Identify trends, analyze sales data, and optimize your inventory strategies.</p>
      </div>
      <div class="feature">
        <h3>User-Friendly Interface</h3>
        <p>We believe in simplicity and ease of use. Our service features a user-friendly interface that makes it intuitive for you to navigate and manage your inventory effortlessly.</p>
      </div>
    </div>
  </div>
  
  <footer>
    <p>&copy; 2023 magnolia. All rights reserved.</p>
  </footer>
</body>
</html>
