{% extends 'base.html' %}

{%block title%}add item.{%endblock%}

{% block content %}
  
    <form action="{{ url_for('add') }}" method="post">
     <div class = "forms add">
       <div class = "animated-text-field">
           <input type = "text" placeholder = "Name" class = "text-field" name = "name" required>
            <span class = "underline"></span>
       </div>
       <div class = "animated-text-field">
           <input type = "text" placeholder = "Quantity" class = "text-field" name = "quantity" required>
            <span class = "underline"></span>
       </div>
       <div class = "animated-text-field">
           <input type = "text" placeholder = "Price" class = "text-field" name = "price" required>
            <span class = "underline"></span>
       </div>
       <button class ="button">Submit</button>
     </div>
      
     </div>
     </div>
      
    </form>
{% endblock %}
