<html>
  <head>
    <title>dashboard.</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='dash-style.css')}}">
  </head>
  <body>
    <main class = "table">
    <section class = "header">
      <h1>Your Inventory</h1>
      <div class = "buttons">
      <a href="{{url_for('add')}}" class = "btn"><span>Add Item</span></a>
      <a href="{{url_for('analysis')}}" class = "btn"><span>Analysis</span></a>
      <a href = "{{url_for('logout')}}" class = "btn"><span>Logout</span></a>
      </div>
    </section>
    <section class = "body">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity * item.price }}</td>
                <td class = "btn">
                    <form action="{{ url_for('drop', item_id=item.id) }}" method="post">
                        <button type="submit" class = "btn"><span>Drop</span></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
  </body>
</html>